@font-face {
    font-family: "Anton-Regular";
    src: url("chrome-extension://__MSG_@@extension_id__/txt/Anton-Regular.ttf");
}

.box {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    color: yellow;
    position: fixed;
    z-index: 1000;
    text-align: center;
    font-size: 2.5em;
    font-family: "Anton-Regular";
}


.choice_text {
    padding-top: 50px;
    text-align: center;
    color: yellow;
}
